{% extends "base.html" %}
{% block title %}Update Quantities{% endblock %}
{% block blank %}
<!--=============================================
	=            breadcrumb area         =
	=============================================-->
	
	<div class="breadcrumb-area pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  breadcrumb container  =======-->
					
					<div class="breadcrumb-container">
						<nav>
							<ul>
								<li class="parent-page"><a href="/">Home</a></li>
								<li>Ecomdash Update</li>
							</ul>
						</nav>
					</div>
					
					<!--=======  End of breadcrumb container  =======-->
				</div>
			</div>
		</div>
	</div>
	
    <!--=====  End of breadcrumb area  ======-->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if messages %}
				{% for message in messages %}
				<!-- <div class="alert alert-{{message.tags}}" role="alert">
					{{message}}
                </div> -->
                <div class="alert alert-{{message.tags}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{message.tag}}
                    {{message}}
                  </div>
				{% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
    <!--=============================================
	=            Checkout page content         =
	=============================================-->
	
	<div class="page-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <!-- Checkout Form s-->
                    
                      <div class="row row-40">
                          
                          <div class="col-lg-7 mb-20">
                              
                              <!-- Billing Address -->
                              <div id="billing-form" class="mb-40">
                                  <h4 class="checkout-title">Update Product Quantities</h4>
                                        
                                        
                                        <!-- <h3 class="display-3">Update Product Quantities!</h3> -->
                                        <li>First column header must be "sku" and second column header must be "new_stock".</li>
                                        <li>E-mail at emre@samnmtrade.com for any issues.</li>
                                        <br>

                                        <form method="POST" enctype="multipart/form-data"> 
                                            {% csrf_token %} 
                                            {{ form.as_p }} 
                                            <br>
                                            <input type="submit" value="Update QTYs"> 
                                        </form> 

                        
                                        
                                </div>
                             </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
                                        

{% endblock %}