{% extends 'aviva_base.html' %}
{% block javascript%}
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
{% block content %}
<table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Size</th>
        <th scope="col">On Hand</th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <th scope="row">#{{ object.product.id }}</th>
        <td>{{ object.product.model.brand }}</td>
        <td>{{ object.product.model.name }}</td>
        <td>{{ object.product.color }}</td>
        <td>{{ object.product.size }}</td>
        <td>{{ object.current_stock }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- {% include 'aviva_pagination.html' %} -->
{% endblock %}