
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Inventory Management | Aviva San Antonio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/ship_station/index/">Aviva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ship_station:increase' %}">Increase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ship_station:decrease' %}">Decrease</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/ship_station/product/">Check Status</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <audio id='alarm-sound' src="{% static 'img/mixkit-classic-alarm-995.wav' %}"></audio>
        <audio id='success-sound' src="{% static 'img/mixkit-ethereal-fairy-win-sound-2019.wav' %}"></audio>
        <p id="item-name"></p>
        <br>
        <strong><p style='font-size:40px;' id="item-quantity"></p></strong>
        <form id="increase" action="{% url 'ship_station:increase' %}" method="POST">{% csrf_token%}
            {{ form.as_p }}
            <input class="btn btn-primary btn-lg" id="submit-button" type="submit" value="INCREASE">
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#id_gtin").focus();
               $("#increase").submit(function(e){
                // prevent from normal form behaviour
                $('#submit-button').prop('disabled',true)

                function disableInput() {
                  $('#id_gtin').prop('disabled',true)
                };
                setTimeout(disableInput,200)

                 console.log('submit edildi')
                      e.preventDefault();
                    // serialize the form data  
            
                      var serializedData = $(this).serialize();
                      $.ajax({
                          type : 'POST',
                          url :  "{% url 'ship_station:increase' %}",
                          data : serializedData,
                          success : function(response){
                            function enableButton(params) {
                              $('#submit-button').prop('disabled',false)
                            }
                            setTimeout(enableButton,2000)

                            function enableInput() {
                              $('#id_gtin').prop('disabled',false)
                              $("#id_gtin").focus();
                            };
                            setTimeout(enableInput,2000)
                            
                            console.log(response)
                            if(response.result == 429){
                              document.getElementById('alarm-sound').play();
                              alert('System stopped for 24 hours'); 
                            }
                            if(response.result == 'invalid_barcode'){
                              document.getElementById('alarm-sound').play();
                              alert('invalid barcode'); 
                            }
                            if(response.result == 'restocked'){
                              document.getElementById('success-sound').play();
                              $('#item-name').html(response.itemName);
                              $('#item-quantity').html(response.itemQuantity);
                            }
                            $('#id_gtin').val('');
                            $("#id_gtin").focus();
                          },
                          error : function(response){
                              console.log(response)
                          }
                      });
               });
            });
            </script>
        
    </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>
