{% extends 'base.html' %}

{% block blank %}
<!--=============================================
	=            breadcrumb area         =
	=============================================-->
	
	<div class="breadcrumb-area pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  breadcrumb container  =======-->
					
					<div class="breadcrumb-container">
						<nav>
							<ul>
								<li class="parent-page"><a href="/">Home</a></li>
								<li>V lookup</li>
							</ul>
						</nav>
					</div>
					
					<!--=======  End of breadcrumb container  =======-->
				</div>
			</div>
		</div>
	</div>
	
    <!--=====  End of breadcrumb area  ======-->
    
    <!--=============================================
	=            Checkout page content         =
	=============================================-->
	
	<div class="page-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
					Upload your lookup file here (Only csv). First column header must be SKU (all capital)
					  <form id="lookup" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="file" name="myfile">
                        {% if source %}<input type="submit" value="Submit">{% else %} upload a source file first{% endif %}
					  </form>
                      
					  <!-- <script>
						$( document ).ready(function() {
						  $('#lookup').change(function(){
							  $('#lookup').submit();
						  })
					  });
					</script> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}