{% extends "base.html" %}
{% load static %}
{% block title %}
  Your shopping cart
{% endblock %}
{% block blank %}

  
  
<!--=============================================
	=            breadcrumb area         =
	=============================================-->
	
	<div class="breadcrumb-area pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  breadcrumb container  =======-->
					
					<div class="breadcrumb-container">
						<nav>
							<ul>
								<li class="parent-page"><a href="/">Home</a></li>
								<li>Cart</li>
							</ul>
						</nav>
					</div>
					
					<!--=======  End of breadcrumb container  =======-->
				</div>
			</div>
		</div>
	</div>
	
  <!--=====  End of breadcrumb area  ======-->
  
  <!--=============================================
    =            added to cart message         =
    =============================================-->

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
      {% endfor %}
              {% endif %}
          </div>
      </div>
  </div>

  <!--=====  End of message  ======-->
  
	<!--=============================================
    =            Cart page content         =
    =============================================-->


    <div class="page-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    			
                        <!--=======  cart table  =======-->
                        
                        <div class="cart-table table-responsive mb-40">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for item in cart %}
                                    {% with product=item.product %}
                                    <tr>
                                        <td class="pro-thumbnail"><a href="{{ product.product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" alt="Product"></a></td>
                                        <td class="pro-title"><a href="{{ product.product.get_absolute_url }}">{{ product.sku }}</a></td>
                                        <td class="pro-price"><span>${{ item.price }}</span></td>

                                        <td class="pro-quantity">
                                          
                                            <form id ="update_form" action="{% url 'cart:cart_add' product.id %}" method="post">
                                              {{ item.update_quantity_form.quantity }}
                                              {{ item.update_quantity_form.override }}
                                              <!-- <input id="update_button" type="submit" value="Update" name="update"> -->
                                              <button id="update_button" type="submit" name="update"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                              {% csrf_token %}
                                            </form> 
                                          
                                        </td> 

                                        <td class="pro-subtotal"><span>${{ item.total_price }}</span></td>

                                        <!-- <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td> -->
                                        <td class="pro-remove">
                                          <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                            <input type="submit" value="x" id="remove">
                                            {% csrf_token %}
                                          </form>
                                        </td>

                                    </tr>
                                    {% endwith %}
                                  {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                        <!--=======  End of cart table  =======-->
                        
                        
                    
                        
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <!--=======  Calculate Shipping  =======-->
                            
                            <!-- <div class="calculate-shipping">
                                <h4>Calculate Shipping</h4>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-25">
                                            <select class="nice-select">
                                                <option>Bangladesh</option>
                                                <option>China</option>
                                                <option>country</option>
                                                <option>India</option>
                                                <option>Japan</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <select class="nice-select">
                                                <option>Dhaka</option>
                                                <option>Barisal</option>
                                                <option>Khulna</option>
                                                <option>Comilla</option>
                                                <option>Chittagong</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="text" placeholder="Postcode / Zip">
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="submit" value="Estimate">
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                            
                            <!--=======  End of Calculate Shipping  =======-->
                            
                            <!--=======  Discount Coupon  =======-->
                            
                            <!-- <div class="discount-coupon">
                                <h4>Discount Coupon Code</h4>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="text" placeholder="Coupon Code">
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="submit" value="Apply Code">
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                            
                            <!--=======  End of Discount Coupon  =======-->
                            
                        </div>

                        
                        <div class="col-lg-6 col-12 d-flex">
                            <!--=======  Cart summery  =======-->
                        
                            <div class="cart-summary">
                                <div class="cart-summary-wrap">
                                    <h4>Cart Summary</h4>
                                    <p>Sub Total <span>${{ cart.get_total_price|floatformat:2 }}</span></p>
                                    {% if cart.campaign %}<p>%{{ cart.campaign.campaign_discount }} OFF <span>- ${{ cart.get_discount|floatformat:2 }}</span></p>{% endif %}
                                    <h2>Grand Total <span>${{ cart.get_total_price_after_discount|floatformat:2 }}</span></h2>
                                </div>
                                <div class="cart-summary-button">
                                  <form action="{% url 'orders:order_create' %}">
                                    <button class="checkout-btn">Checkout</button>
                                  </form>
                                    
                                    <!-- <button class="update-btn"><a href="{% url 'products:product_list_view' %}">Continue Shopping</a></button> -->
                                    
                                    
                                </div>
                            </div>
                        
                            <!--=======  End of Cart summery  =======-->
                            
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of Cart page content  ======-->

<script>
      $(document).ready(function() {
          // messages timeout for 10 sec 
          setTimeout(function() {
              $('.alert').fadeOut('slow');
          }, 2000); // <-- time in milliseconds, 1000 =  1 sec
  
          // delete message
          $('.del-msg').live('click',function(){
              $('.del-msg').parent().attr('style', 'display:none;');
          })
      });
</script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">




$(document).ready(function (){

  $("input[name=isimsiz]").click(function (){
    
    $.ajax({
      type : "POST", 
       url: "{% url 'coupons:campaign_apply' %}",

       data: {
        campaign_discount : "{{ cart.get_total_price_after_discount|floatformat:2 }}",
        dataType: "json",

       },
       success: $(document).ready(function(){
        setTimeout(function(){ location.reload() }, 500)
        
        
       })
       
    });
  });
  
})

  






// function autoclick(){
// document.getElementById("update_form").onchange = function () {
//     document.getElementById("update_button").click();
    
//   }};

//   function autoclick2(){
// $( document ).ready(function () {
// $( "#btn" ).trigger( "click" );
    
//   }};

// $('#ajax-form').on('submit1', function(e){

// e.preventDefault();

//   $.ajax({
//        type : "GET", 
//        url: "{% url 'coupons:campaign_apply' %}", /* django ajax posting url  */
//        data: {
//         campaign_discount : $('#last_price').text(),
//         dataType: "json",

//        },
       
//        success: function(response){
//         $('#last_price').text() /* response message */
//        },

//        failure: function() {
           
//        }})


//    });
  

     
  
  
  
  
  // };
//   $( document ).ready(function autoclick() {
//    $( "#btn" ).trigger( "click" );
// });
  

// window.onload=autoclick;

// window.stop();
  //alert("The value of slider 1 is: " + sliderValue);


</script>
  
  <!-- <script>document.getElementById('id_campaign_id').submit()</script>
  <document.getElementById("form1").onchange = function() {
    document.getElementById("form").submit();
    document.getElementById("campaign_form").submit();
  var x =document.getElementsByClassName("myButtonToClick");
x[0].click();

$(form).on('change',  function() {
      var x =document.getElementsByClassName("myButtonToClick");
x[0].click();
  
});

function test(){
  alert("Hi");
}

window.onload = function(){
 document.getElementById('btn').click();
 
var scriptTag = document.createElement("script");
scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
document.getElementsByTagName("head")[0].appendChild(scriptTag);
}

  window.onload=function(e){
    e.preventDefault();
  document.getElementById("btn").click();
};

  -->
{% endblock %}

{% if cart|length > 0 %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Your cart is empty</h1>
    </div>
  </div>
</div>
  {% else %}



<!--=============================================
    =            cart updated message         =
    =============================================-->

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
      {% endfor %}
              {% endif %}
          </div>
      </div>
  </div>

  <!--=====  End of message  ======-->

<h1>Your shopping cart</h1>
                  
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      
      {% for rs in cart %}
      
					{% with variation=rs.product %}
          <tr>
            <td>
              <a>{{ rs }}</a>
              <a href="{{ variation.product.get_absolute_url }}">
                <img src="{{ variation.image.image.url }}">
              </a>
            </td>
            <td>{{ variation.sku }}</td>
            <td>
                <form id ="update_form" action="{% url "cart:cart_add" variation.id %}" method="post">
                  {{ rs.update_quantity_form.quantity }}
                  {{ rs.update_quantity_form.override }}
                  <input id="update_button" type="submit" value="Update" name="update">
                  {% csrf_token %}
                </form>
              </td>
            <td>
              <form action="{% url "cart:cart_remove" variation.id %}" method="post">
                <input type="submit" value="Remove" id="remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ variation.price }}</td>
            <td class="num">${{ rs.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}

  {% if cart.campaign %}
    <tr class="subtotal">
      <td>Subtotal</td>
      <td colspan="4"></td>
      <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
    </tr>
    <tr>
      <td>{{ cart.campaign.campaign_name }}({{ cart.campaign.campaign_discount }}% off)</td>
      <td colspan="4"></td>
      <td class="num neg">- ${{ cart.get_discount|floatformat:2 }}</td>
    </tr>
  {% endif %}

  <tr class="total">
    <td>Total</td>
    <td colspan="4"></td>
    <td id="last_price" class="num">${{ cart.get_total_price_after_discount|floatformat:2 }}</td>
  </tr>

  </tbody>
</table>



  <p class="text-right">
    <a href="{% url "products:product_list_view" %}" class="buttonlight">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
  </p>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          
        </div>
    </div>
  </div>
  <br>
{% endif %}

