{% extends "base.html" %}
{% load static %}
{% block title %}
  Your shopping cart
{% endblock %}
{% block blank %}

  <h1>Your shopping cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form id ="update_form" action="{% url "cart:cart_add" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.override }}
                  <input id="update_button" type="submit" value="Update" name="update" style="display: none;">
                  {% csrf_token %}
                </form>
              </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Remove" id="remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
  {% if cart.campaign %}
  <tr class="subtotal">
    <td>Subtotal</td>
    <td colspan="4"></td>
    <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
  </tr>
  <tr>
    <td>
      {{ cart.campaign.campaign_name }}
      ({{ cart.campaign.campaign_discount }}% off)
    </td>
    <td colspan="4"></td>
    <td class="num neg">
      - ${{ cart.get_discount|floatformat:2 }}
    </td>
  </tr>
{% endif %}
<tr class="total">
  <td>Total</td>
  <td colspan="4"></td>
  <td id="last_price" class="num">
    ${{ cart.get_total_price_after_discount|floatformat:2 }}
  </td>
</tr>

    </tbody>
  </table>



  <p class="text-right">
    <a href="{% url "products:product_list_view" %}" class="button
    light">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button">
      Checkout
    </a>
    
  </p>
  <br>

  
<!--=============================================
	=            breadcrumb area         =
	=============================================-->
	
	<div class="breadcrumb-area pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  breadcrumb container  =======-->
					
					<div class="breadcrumb-container">
						<nav>
							<ul>
								<li class="parent-page"><a href="index.html">Home</a></li>
								<li>Cart</li>
							</ul>
						</nav>
					</div>
					
					<!--=======  End of breadcrumb container  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of breadcrumb area  ======-->
	
	<!--=============================================
    =            Cart page content         =
    =============================================-->


    <div class="page-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">				
                        <!--=======  cart table  =======-->
                        
                        <div class="cart-table table-responsive mb-40">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="single-product.html"><img src="assets/images/products/product01.jpg" class="img-fluid" alt="Product"></a></td>
                                        <td class="pro-title"><a href="single-product.html">Cillum dolore tortor nisl fermentum</a></td>
                                        <td class="pro-price"><span>$29.00</span></td>
                                        <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td> 
                                        <td class="pro-subtotal"><span>$29.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="single-product.html"><img src="assets/images/products/product02.jpg" class="img-fluid" alt="Product"></a></td>
                                        <td class="pro-title"><a href="single-product.html">Auctor gravida pellentesque</a></td>
                                        <td class="pro-price"><span>$30.00</span></td>
                                        <td class="pro-quantity"><div class="pro-qty"><input type="text" value="2"></div></td>
                                        <td class="pro-subtotal"><span>$60.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="single-product.html"><img src="assets/images/products/product03.jpg" class="img-fluid" alt="Product"></a></td>
                                        <td class="pro-title"><a href="single-product.html">Condimentum posuere consectetur</a></td>
                                        <td class="pro-price"><span>$25.00</span></td>
                                        <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>
                                        <td class="pro-subtotal"><span>$25.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="single-product.html"><img src="assets/images/products/product04.jpg" class="img-fluid" alt="Product"></a></td>
                                        <td class="pro-title"><a href="single-product.html">Habitasse dictumst elementum</a></td>
                                        <td class="pro-price"><span>$11.00</span></td>
                                        <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>
                                        <td class="pro-subtotal"><span>$11.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!--=======  End of cart table  =======-->
                        
                        
                    </form>	
                        
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <!--=======  Calculate Shipping  =======-->
                            
                            <div class="calculate-shipping">
                                <h4>Calculate Shipping</h4>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-25">
                                            <select class="nice-select">
                                                <option>Bangladesh</option>
                                                <option>China</option>
                                                <option>country</option>
                                                <option>India</option>
                                                <option>Japan</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <select class="nice-select">
                                                <option>Dhaka</option>
                                                <option>Barisal</option>
                                                <option>Khulna</option>
                                                <option>Comilla</option>
                                                <option>Chittagong</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="text" placeholder="Postcode / Zip">
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="submit" value="Estimate">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <!--=======  End of Calculate Shipping  =======-->
                            
                            <!--=======  Discount Coupon  =======-->
                            
                            <div class="discount-coupon">
                                <h4>Discount Coupon Code</h4>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="text" placeholder="Coupon Code">
                                        </div>
                                        <div class="col-md-6 col-12 mb-25">
                                            <input type="submit" value="Apply Code">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <!--=======  End of Discount Coupon  =======-->
                            
                        </div>

                        
                        <div class="col-lg-6 col-12 d-flex">
                            <!--=======  Cart summery  =======-->
                        
                            <div class="cart-summary">
                                <div class="cart-summary-wrap">
                                    <h4>Cart Summary</h4>
                                    <p>Sub Total <span>$1250.00</span></p>
                                    <p>Shipping Cost <span>$00.00</span></p>
                                    <h2>Grand Total <span>$1250.00</span></h2>
                                </div>
                                <div class="cart-summary-button">
                                    <button class="checkout-btn">Checkout</button>
                                    <button class="update-btn">Update Cart</button>
                                </div>
                            </div>
                        
                            <!--=======  End of Cart summery  =======-->
                            
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of Cart page content  ======-->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">




$(document).ready(function (){

  $("input[name=isimsiz]").click(function (){
    
    $.ajax({
      type : "POST", 
       url: "{% url 'coupons:campaign_apply' %}",

       data: {
        campaign_discount : "{{ cart.get_total_price_after_discount|floatformat:2 }}",
        dataType: "json",

       },
       success: $(document).ready(function(){
        setTimeout(function(){ location.reload() }, 500)
        
        
       })
       
    });
  });
  
})

  






// function autoclick(){
// document.getElementById("update_form").onchange = function () {
//     document.getElementById("update_button").click();
    
//   }};

//   function autoclick2(){
// $( document ).ready(function () {
// $( "#btn" ).trigger( "click" );
    
//   }};

// $('#ajax-form').on('submit1', function(e){

// e.preventDefault();

//   $.ajax({
//        type : "GET", 
//        url: "{% url 'coupons:campaign_apply' %}", /* django ajax posting url  */
//        data: {
//         campaign_discount : $('#last_price').text(),
//         dataType: "json",

//        },
       
//        success: function(response){
//         $('#last_price').text() /* response message */
//        },

//        failure: function() {
           
//        }})


//    });
  

     
  
  
  
  
  // };
//   $( document ).ready(function autoclick() {
//    $( "#btn" ).trigger( "click" );
// });
  

// window.onload=autoclick;

// window.stop();
  //alert("The value of slider 1 is: " + sliderValue);


</script>
  
  <!-- <script>document.getElementById('id_campaign_id').submit()</script>
  <document.getElementById("form1").onchange = function() {
    document.getElementById("form").submit();
    document.getElementById("campaign_form").submit();
  var x =document.getElementsByClassName("myButtonToClick");
x[0].click();

$(form).on('change',  function() {
      var x =document.getElementsByClassName("myButtonToClick");
x[0].click();
  
});

function test(){
  alert("Hi");
}

window.onload = function(){
 document.getElementById('btn').click();
 
var scriptTag = document.createElement("script");
scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
document.getElementsByTagName("head")[0].appendChild(scriptTag);
}

  window.onload=function(e){
    e.preventDefault();
  document.getElementById("btn").click();
};

  -->
{% endblock %}
