{% load static %}
<!--=============================================
	=            banner three column         =
	=============================================-->
	
	<div class="banner-three-column mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 mb-sm-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner">
						<a href="shop-left-sidebar.html">
							<img src="{% static 'img/banners/banner1.jpg' %}" class="img-fluid" alt="">
						</a>
						<div class="text-content">
							<h5>Design Creative</h5>
							<h3>Modern and Clean</h3>
							<h4>From  $60.99 - Sale 20%</h4>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->	
				</div>
				<div class="col-lg-4 col-md-4 mb-sm-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner">
						<a href="shop-left-sidebar.html">
							<img src="{% static 'img/banners/banner2.jpg' %}" class="img-fluid" alt="">
						</a>
						<div class="text-content">
							<h5>Bestselling Products</h5>
							<h3>Ceiling Light Modern</h3>
							<h4>Only  from  $79.00</h4>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->	
				</div>
				<div class="col-lg-4 col-md-4">
					<!--=======  single banner  =======-->
					
					<div class="single-banner">
						<a href="shop-left-sidebar.html">
							<img src="{% static 'img/banners/banner3.jpg' %}" class="img-fluid" alt="">
						</a>
						<div class="text-content">
							<h5>Onsale Products</h5>
							<h3>Drop Chair - Quickship</h3>
							<h4>Selling Off  30%</h4>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->	
				</div>
			</div>
		</div>
	</div>
	
    <!--=====  End of banner three column  ======-->
