{% load static %}
<!--=============================================
	=            blog post slider         =
	=============================================-->
	
	<div class="blog-post-slider-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  section title  =======-->
					
					<div class="section-title">
						<h2>LATEST BLOGS</h2>
					</div>
					
					<!--=======  End of section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  blog post slider container  =======-->
					 
					<div class="fl-slider blog-post-slider-container">
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
								<div class="image">
									<a href="blog-post-left-sidebar.html">
										<img src="{% static 'img/sliders/blog/01.jpg' %}" class="img-fluid" alt="">
									</a>
								</div>

								<div class="content">
									<h3><a href="blog-post-left-sidebar.html">3 things everyone knows about furniture</a></h3>
									<p>
										<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
										<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
									</p>
									<p class="post-excerpt">
										Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
									</p>
									<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
								</div>
							</div>
						</div>
						
						<!--=======  End of single-blog-post  =======-->
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
								<div class="image">
									<a href="blog-post-left-sidebar.html">
										<img src="{% static 'img/sliders/blog/02.jpg' %}" class="img-fluid" alt="">
									</a>
								</div>

								<div class="content">
									<h3><a href="blog-post-left-sidebar.html">13 Myths about furniture</a></h3>
									<p>
										<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
										<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
									</p>
									<p class="post-excerpt">
										Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
									</p>
									<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
								</div>
							</div>
						</div>
						
						<!--=======  End of single-blog-post  =======-->
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
							<div class="image">
								<a href="blog-post-left-sidebar.html">
									<img src="{% static 'img/sliders/blog/03.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>

							<div class="content">
								<h3><a href="blog-post-left-sidebar.html">	Top 25 quotes On furniture</a></h3>
								<p>
									<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
									<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
								</p>
								<p class="post-excerpt">
									Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
								</p>
								<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
							</div>
						</div>
						</div>
						
						<!--=======  End of single-blog-post  =======-->
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
								<div class="image">
									<a href="blog-post-left-sidebar.html">
										<img src="{% static 'img/sliders/blog/04.jpg' %}" class="img-fluid" alt="">
									</a>
								</div>

								<div class="content">
									<h3><a href="blog-post-left-sidebar.html">3 things everyone knows about furniture</a></h3>
									<p>
										<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
										<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
									</p>
									<p class="post-excerpt">
										Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
									</p>
									<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
								</div>
							</div>
						</div>
						<!--=======  End of single-blog-post  =======-->
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
								<div class="image">
									<a href="blog-post-left-sidebar.html">
										<img src="{% static 'img/sliders/blog/05.jpg' %}" class="img-fluid" alt="">
									</a>
								</div>

								<div class="content">
									<h3><a href="blog-post-left-sidebar.html">Top 10 tips with furniture</a></h3>
									<p>
										<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
										<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
									</p>
									<p class="post-excerpt">
										Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
									</p>
									<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
								</div>
							</div>
						</div>
						
						<!--=======  End of single-blog-post  =======-->
						<!--=======  single-blog-post  =======-->
						<div class="col">
							<div class="single-blog-post">
							<div class="image">
								<a href="blog-post-left-sidebar.html">
									<img src="{% static 'img/sliders/blog/06.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>

							<div class="content">
								<h3><a href="blog-post-left-sidebar.html">Fast-track your furniture</a></h3>
								<p>
									<span class="post-comments"> <i class="icon ion-md-clipboard"></i> 0 comments</span>
									<span class="post-author"> <i class="icon ion-md-contact"></i> By <a href="blog-left-sidebar.html">Admin</a></span>
								</p>
								<p class="post-excerpt">
									Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium sit amet faucibus nisl.
								</p>
								<a class="fl-button" href="blog-post-left-sidebar.html">read more</a>
							</div>
							</div>
						</div>
						
						<!--=======  End of single-blog-post  =======-->
						
					</div>
					
					<!--=======  End of blog post slider container  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of blog post slider  ======-->