{% extends 'base.html' %}

{% block slider %}
        {% include "slider.html" %}
{% endblock %}

<!-- sol tarafta kategori isimleri yazan -->
{% block slider_with_banner %}
    {% include "slider_with_banner.html" %}
{% endblock %}

<!-- kampanyalari yazabilecegin yer  -->
{% block banner %}
{% endblock %}

<!-- new product, featured product kismi. uzerinde tabler var ve urunler kayiyor -->
{% block tab_slider %}
    {% include "tab_slider.html" %}
{% endblock %}


<!-- sol tarafta kategori isimleri yazanin ciftlisi -->
{% block tab_product_with_banner %}
{% endblock %}

{% block blog_post_slider %}
{% endblock %}

{% block brands %}
    {% include "brands.html" %}
{% endblock %}

