{% load static %}
<!--=============================================
	=            slider with banner and sidebar         =
	=============================================-->
	
	<div class="slider-banner-sidebar-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  slider with banner and sidebar container  =======-->
					
					<div class="slider-banner-sidebar-container">
						<div class="row no-gutters">
							<div class="col-lg-3 col-xl-2 col-md-4">
								<!--=======  sidebar  =======-->
								
								<div class="slider-sidebar">
									<h3 class="slider-sidebar-title">BEDROOM FURNITURE</h3>
									<div class="sidebar-list">
										<ul>
											<li><a href="shop-left-sidebar.html">Nightstands</a></li>
											<li><a href="shop-left-sidebar.html">Beds</a></li>
											<li><a href="shop-left-sidebar.html">HeadBoards</a></li>
											<li><a href="shop-left-sidebar.html">Chests & Dressers</a></li>
											<li><a href="shop-left-sidebar.html">Bedroom Sets</a></li>
											<li><a href="shop-left-sidebar.html">Mattretsser</a></li>
											<li><a href="shop-left-sidebar.html">Armories</a></li>
											<li><a href="shop-left-sidebar.html">Small Beds</a></li>
											<li><a href="shop-left-sidebar.html">Larger Beds</a></li>
										</ul>
									</div>
								</div>
								
								<!--=======  End of sidebar  =======-->
							</div>
							<div class="col-lg-9 col-xl-10 col-md-8">
								<!--=======  banner slider  =======-->
								
								<div class="fl-slider banner-slider">
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product01.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product01-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product02.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product02-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Condimentum posuere</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product03.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product03-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Donec eu libero</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product04.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product04-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Officiis debitis</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product05.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product05-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cras neque</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product06.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product06-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Dolorum fuga</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
								</div>
								
								<!--=======  End of banner slider  =======-->

								<!--=======  slider banner  =======-->
								
								<div class="slider-banner home-one-banner banner-bg banner-bg-1">
									<div class="banner-text">
										<p>Look of The Week</p>
										<p class="big-text">Wood Frame Bedroom</p>
										<p>Only from $209</p>
									</div>
								</div>
								
								<!--=======  End of slider banner  =======-->
							</div>
						</div>
					</div>
					
					<!--=======  End of slider with banner and sidebar container  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of slider with banner and sidebar  ======-->