{% load static %}
{% if sliders %}
<!--=============================================
	=            hero slider         =
	=============================================-->
	
	<div class="hero-area home-four mb-30">
		<!--=======  slider container  =======-->
			
		<div class="slider-container">
			<!--=======  hero slider one  =======-->
				
			<div class="slider-style-2">
				<!--=======  slider item  =======-->

				{% for slider in sliders %}	
				<div class="hero-slider-item" style="background-image: url('{{ MEDIA_URL }}{{ slider.image.url }}')">
					

					<!--=======  slider content  =======-->
						
					<div class="d-flex flex-column justify-content-center align-items-start h-100">
						<div class="container">
							<div class="row">
								<div class="col-lg-7 col-xl-6 col-md-7 text-center">
									<div class="slider-content">
										<p >Exclusive Offer -20% Off This Week </p>
										<h1>Desk Accesories</h1>
										<p>Poul Henningsen developed the PH 5 in 1958 in response to constant changes to the shape and size of incandescent bulbs by bulb manufacturers.</p>
										<a href="shop-left-sidebar.html" class="slider-btn">SHOP NOW</a>
									</div>
								</div>
							</div>
						</div>
					</div>
						
					<!--=======  End of slider content  =======-->
				</div>
				{% endfor %}
				
				<!--=======  End of slider item  =======-->
			</div>
			
		</div>
	</div>
{% endif %}
<br>
	<!-- <div class="hero-slider-item" style="max-width: 100%; display: inline-block; background-image: url('{{ MEDIA_URL }}{{ slider.image.url }}')"> -->