{% load static %}
{% if sliders %}
<!--=============================================
	=            hero slider         =
	=============================================-->
	
	<div class="hero-area mb-30">
		<!--=======  slider container  =======-->
			
		<div class="slider-container">
			<!--=======  hero slider one  =======-->
				
			<div class="hero-slider">
				<!--=======  slider item  =======-->
				{% for slider in sliders %}
				<div class="hero-slider-item" style="background-image: url('{{ MEDIA_URL }}{{ slider.image.url }}') ;">
					

					<!--=======  slider content  =======-->
						
					<div class="d-flex flex-column justify-content-center align-items-start h-100" >
						
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="slider-content">
										{% if slider.text %}
										<p>{{ slider.text }} </p>
										{% endif %}

										{% if slider.header_text %}
										<h1>{{ slider.header_text }}</h1>
										{% endif %}
										<!-- <h1>Carronade <span>Pendant Lamp-Black </span></h1> -->
										<!-- <p class="slider-price">starting at <span>$260.99</span></p> -->
										<!-- <a href="/" class="slider-btn">SHOP NOW</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
						
					<!--=======  End of slider content  =======-->
				</div>
				{% endfor %}
					
				<!--=======  End of slider item  =======-->

			</div>
			
			<!--=======  End of hero slider one  =======-->
		</div>
		
		<!--=======  End of slider container  =======-->
	</div>
	
	<!--=====  End of hero slider  ======-->
	{% endif %}