{% load static %}
    <!--=============================================
	=            tab slider section         =
	=============================================-->
	
	<div class="tab-product-slider-container mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  tab slider wraspper  =======-->
					
					<div class="tab-slider-wrapper">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
									aria-selected="true">Bed Sheets</a>
								
								<a class="nav-item nav-link" id="nav-onsale-tab" data-toggle="tab" href="#on-sale" role="tab"
									aria-selected="false">Towels {{ towel }}</a>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
								<!--=======  tab product slider  =======-->
								
								<div class="fl-slider tab-product-slider">
									<!--=======  single product  =======-->
									{% for p in bed_sheets %} 
									<div class="fl-product">
										<!-- <div class="image sale-product"> -->
										<div style="width: 200px; 
										height: 200px;
										/*background-color: red;*/
										/*background-image: url('{{ MEDIA_URL }}{{ product.image.url }}') ;*/
										background-repeat: no-repeat;
										background-size: contain;
										background-position: center;
										margin: 0 auto;">
											<a href="{{ p.get_absolute_url }}">
												<!-- <img src="{{ p.image.url }}" class="img-fluid" alt=""> -->
												<!-- <img src="{{ p.productimage_set.all.0.image.url }}" class="img-fluid" alt=""> -->
												<img src="{{ p.image.url }}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<!-- <span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span> -->
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h2>
											<!-- <div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div> -->
											{% if request.user.is_authenticated %}
											<p class="product-price">
												<span class="main-price starting-from">starting at</span>
												<span class="discounted-price">${{ p.get_lowest_price.price__min|floatformat:-2 }}</span>
											</p>
											{% endif %}

											<div class="hover-icons ">
												<ul>
													<!-- <li><a href="#"  data-tooltip="Choose Size"><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
													<!-- <li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li> -->
													<li><a class="my-1" href="{{ p.get_absolute_url }}"  data-tooltip="Choose Size"><i class="icon ion-md-options"></i></a></li>
													<!-- <li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li> -->
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									{% endfor %}
									
								</div>
								
								<!--=======  End of tab product slider  =======-->
							</div>
							
							<div class="tab-pane fade" id="on-sale" role="tabpanel" aria-labelledby="nav-onsale-tab">
								<!--=======  tab product slider  =======-->
								
								<div class="fl-slider tab-product-slider">
									<!--=======  single product  =======-->
									{% for p in towel.products %}
									<div class="fl-product">
										<!-- <div class="image sale-product"> -->
										<div class="image">
											<a href="{{ p.get_absolute_url }}">
												<img src="{{ p.image.url }}" class="img-fluid" alt="">
												<img src="{{ p.image.url }}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<!-- <span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span> -->
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h2>
											
											<p class="product-price">
												<!-- <span class="main-price discounted">$71</span> -->
												<span class="main-price starting-from">starting from</span>
												<span class="discounted-price">${{ p.price }}</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="{{ p.get_absolute_url }}"  data-tooltip="Choose Size"><i class="icon ion-md-options"></i></a></li>
													<!-- <li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li> -->
													<!-- <li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li> -->
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									{% endfor %}
									
								</div>
								
								<!--=======  End of tab product slider  =======-->
							</div>
						</div>
					</div>
					
					<!--=======  End of tab slider wraspper  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of tab slider section  ======-->