{% load static %}
    <!--=============================================
	=            tab slider section         =
	=============================================-->
	
	<div class="tab-product-slider-container mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  tab slider wraspper  =======-->
					
					<div class="tab-slider-wrapper">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
									aria-selected="true">Collections</a>
								<a class="nav-item nav-link" id="new-arrival-tab" data-toggle="tab" href="#new-arrivals" role="tab"
									aria-selected="false">New Products</a>
								<a class="nav-item nav-link" id="nav-onsale-tab" data-toggle="tab" href="#on-sale" role="tab"
									aria-selected="false">Onsale Products</a>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
								<!--=======  tab product slider  =======-->
								
								<div class="fl-slider tab-product-slider">
									<!--=======  single product  =======-->
									{% for category in categories %}
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{{ category.image.url }}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product01-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="{{ category.image.url }}">{{ category }}</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									{% endfor %}
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product02.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product02-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Condimentum posuere</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product03.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product03-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Donec eu libero</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product04.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product04-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Officiis debitis</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product05.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product05-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cras neque</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product06.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product06-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Dolorum fuga</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
								</div>
								
								<!--=======  End of tab product slider  =======-->
							</div>
							<div class="tab-pane fade" id="new-arrivals" role="tabpanel" aria-labelledby="new-arrival-tab">
								<!--=======  tab product slider  =======-->
								
								<div class="fl-slider tab-product-slider" data-row="2">
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product02.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product02-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
													<a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Condimentum posuere</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>
	
											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->

									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product01.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product01-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product03.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product03-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Donec eu libero</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product04.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product04-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Officiis debitis</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product05.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product05-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cras neque</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product06.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product06-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Dolorum fuga</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product01.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product01-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product02.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product02-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Condimentum posuere</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product03.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product03-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Donec eu libero</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product04.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product04-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Officiis debitis</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product05.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product05-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cras neque</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product06.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product06-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Dolorum fuga</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
								</div>
								
								<!--=======  End of tab product slider  =======-->
							</div>
							<div class="tab-pane fade" id="on-sale" role="tabpanel" aria-labelledby="nav-onsale-tab">
								<!--=======  tab product slider  =======-->
								
								<div class="fl-slider tab-product-slider">
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product01.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product01-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product02.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product02-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Condimentum posuere</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image sale-product">
											<a href="single-product.html">
												<img src="{% static 'img/products/product03.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product03-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Donec eu libero</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product04.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product04-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Officiis debitis</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product05.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product05-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Cras neque</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
									<!--=======  single product  =======-->
									
									<div class="fl-product">
										<div class="image">
											<a href="single-product.html">
												<img src="{% static 'img/products/product06.jpg' %}" class="img-fluid" alt="">
												<img src="{% static 'img/products/product06-2.jpg' %}" class="img-fluid" alt="">
											</a>
											<!-- wishlist icon -->
											<span class="wishlist-icon">
												 <a href="#" ><i class="icon ion-md-heart-empty"></i></a>
											</span>
										</div>
										<div class="content">
											<h2 class="product-title"> <a href="single-product.html">Dolorum fuga</a></h2>
											<div class="rating">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<p class="product-price">
												<span class="main-price discounted">$71</span>
												<span class="discounted-price">$65</span>
											</p>

											<div class="hover-icons">
												<ul>
													<li><a href="#"  data-tooltip="Add to Cart"><i class="icon ion-md-cart"></i></a></li>
													<li><a href="#"  data-tooltip="Compare"><i class="icon ion-md-options"></i></a></li>
													<li><a href="#"  data-toggle = "modal" data-target="#quick-view-modal-container" data-tooltip="Quick View"><i class="icon ion-md-open"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<!--=======  End of single product  =======-->
								</div>
								
								<!--=======  End of tab product slider  =======-->
							</div>
						</div>
					</div>
					
					<!--=======  End of tab slider wraspper  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of tab slider section  ======-->