    {% load static %}
    <!--=============================================
	=            tab product with banner          =
	=============================================-->
	
	<div class="tab-banner-product-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 mb-md-50 mb-sm-50">
					<!--=======  tab with banner product container  =======-->
					
					<div class="tab-banner-product-container">
						<div class="row no-gutters">
							<div class=" col-md-4 col-lg-5 col-xl-4">
								<!--=======  banner  =======-->
								
								<div class="tab-sidebar">
									<h3 class="tab-sidebar-title">BEDROOM FURNITURE</h3>
									<div class="tab-banner">
										<img src="{% static 'img/banners/banner7.jpg' %}" class="img-fluid" alt="">
									</div>
								</div>
								
								<!--=======  End of banner  =======-->
							</div>
							<div class="col-md-8 col-lg-7 col-xl-8">
								<!--=======  tab product wrapper  =======-->
								
								<div class="tab-product-wrapper">
									<nav>
										<div class="nav nav-tabs" id="nav-tab2" role="tablist">
											<a class="nav-item nav-link active" id="product-tab-1" data-toggle="tab" href="#product-series-1" role="tab"
												aria-selected="true">Nightstands</a>
											<a class="nav-item nav-link" id="product-tab-2" data-toggle="tab" href="#product-series-2" role="tab"
												aria-selected="false">Beds</a>
											<a class="nav-item nav-link" id="product-tab-3" data-toggle="tab" href="#product-series-3" role="tab"
												aria-selected="false">Head Boards</a>
										</div>
									</nav>
									<div class="tab-content" id="nav-tabContent2">
										<div class="tab-pane fade show active" id="product-series-1" role="tabpanel" aria-labelledby="product-tab-1">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
										<div class="tab-pane fade" id="product-series-2" role="tabpanel" aria-labelledby="product-tab-2">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
										<div class="tab-pane fade" id="product-series-3" role="tabpanel" aria-labelledby="product-tab-3">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
									</div>
								</div>
								
								<!--=======  End of tab product wrapper  =======-->
							</div>
						</div>
					</div>
					
					<!--=======  End of tab with banner product container  =======-->
				</div>
				<div class="col-lg-6">
					<!--=======  tab with banner product container  =======-->
					
					<div class="tab-banner-product-container">
						<div class="row no-gutters">
							<div class=" col-md-4 col-lg-5 col-xl-4">
								<!--=======  banner  =======-->
								
								<div class="tab-sidebar">
									<h3 class="tab-sidebar-title">OUTDOOR FURNITURE</h3>
									<div class="tab-banner banner-bg">
										<img src="{% static 'img/banners/banner8.jpg' %}" class="img-fluid" alt="">
									</div>
								</div>
								
								<!--=======  End of banner  =======-->
							</div>
							<div class="col-md-8 col-lg-7 col-xl-8">
								<!--=======  tab product wrapper  =======-->
								
								<div class="tab-product-wrapper">
									<nav>
										<div class="nav nav-tabs" id="nav-tab3" role="tablist">
											<a class="nav-item nav-link active" id="product-tab-4" data-toggle="tab" href="#product-series-4" role="tab"
												aria-selected="true">Nightstands</a>
											<a class="nav-item nav-link" id="product-tab-5" data-toggle="tab" href="#product-series-5" role="tab"
												aria-selected="false">Beds</a>
											<a class="nav-item nav-link" id="product-tab-6" data-toggle="tab" href="#product-series-6" role="tab"
												aria-selected="false">Head Boards</a>
										</div>
									</nav>
									<div class="tab-content" id="nav-tabContent3">
										<div class="tab-pane fade show active" id="product-series-4" role="tabpanel" aria-labelledby="product-tab-4">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
										<div class="tab-pane fade" id="product-series-5" role="tabpanel" aria-labelledby="product-tab-5">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
										<div class="tab-pane fade" id="product-series-6" role="tabpanel" aria-labelledby="product-tab-6">
											<!--=======  tab product container  =======-->
											
											<div class="tab-product-container">
												
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product02.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product01.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
												<!--=======  single tab product  =======-->
												
												<div class="tab-product d-flex">
													<div class="image">
														<a href="single-product.html">
															<img src="{% static 'img/products/tab-product03.jpg' %}" class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<h2 class="product-title"> <a href="single-product.html">Cillum dolore</a></h2>
														<div class="rating">
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star active"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<p class="product-price">
															<span class="main-price discounted">$71</span>
															<span class="discounted-price">$65</span>
														</p>
													</div>
												</div>
												
												<!--=======  End of single tab product  =======-->
											</div>
											
											<!--=======  End of tab product container  =======-->
										</div>
									</div>
								</div>
								
								<!--=======  End of tab product wrapper  =======-->
							</div>
						</div>
					</div>
					
					<!--=======  End of tab with banner product container  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of tab product with banner   ======-->